@charset "utf-8";

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css";
@import "https://cdn.jsdelivr.net/npm/flag-icons@7.5.0/css/flag-icons.min.css";
@import "https://fonts.googleapis.com/css?family=Droid+Sans+Mono";
@import "https://fonts.googleapis.com/css?family=Noto+Sans+KR";
@import "rough.scss";
@import "site.scss";