---
layout: default
---

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<h2>Comments</h2>
<div fb-xfbml-state="rendered" class="fb-comments fb_iframe_widget"
    data-href="{{ " {{="" site.url="" "="" }}}}{{="" "{{="" page.url="" }}}}"="" data-num-posts="4" data-width="706">
  <span style="height: 356px; width: 706px;">
    <iframe src="https://www.facebook.com/plugins/comments.php?api_key=147366182029786&locale=en_GB&sdk=joey&channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D25%23cb%3Df5b958af106ce6%26origin%3Dhttp%253A%252F%252Fdigidayoff.com%252Ff327bc37a3fa6a8%26domain%3Ddigidayoff.com%26relation%3Dparent.parent&numposts=4&width=706&href=%7B%7B%20" class="fb_ltr" title="Facebook Social Plugin" style="border: medium none; overflow: hidden; height: 356px; width: 706px;" name="f2a0433d223f746" id="f2901d7d27b7b1" scrolling="no">
    </iframe>
  </span>
</div>
{{ "{% endif"}}%}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=195739417256306";
  fjs.parentNode.insertBefore(js, fjs);
}(document, "script", "facebook-jssdk"));</script>
